.products-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 9px;
}

.product-card {
    background-color: #f1f1f1;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow: hidden;
}

.images-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    /* Increased height */
    max-height: 300px;
    /* Added max-height */
}

.product-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    /* Changed from cover to contain */
    transition: transform 0.2s ease;
}

.product-image:hover {
    transform: scale(1.1);
}

.footer {
    margin-top: 20px;
    text-align: center;
}